*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
}
<<<<<<< HEAD
.row{
    display:flex;
    justify-content: center;
    min-height:20px;
}
.checker{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
=======
>>>>>>> a4d1b96848a3b06469ed8fb6ebd33378cb3d59cb
